{{#app-layout}}
  {{#app-layout/header
    class="u-depth u-depth1 Theme-bg--gray Theme-fg--yellow"
  }}
    <header
      class="
        u-flex
        u-flexRow
        u-flexAlignItemsCenter
        u-posRelative
      "
    >
      {{#link-to
        'index'
        class="
          u-flex
          u-flexAlignSelfStretch
          Type--middle
          blank-u-pdLsm
          blank-u-pdRmd
        "
      }}
        <div class="u-flex u-flexAlignSelfCenter Theme-fg--yellow">
          {{svg-icon icon="flash" size="large"}}
        </div>
      {{/link-to}}
      {{app-nav}}
      {{#basic-dropdown renderInPlace=true as |dropdown|}}
        <div
          class="
            u-posAbsolute
            u-posOffBottom
            u-posOffRight
            u-depth u-depth3
            Bubble
          ">
          <div class="
            u-flex
            Bubble-content
          ">
            <ul class="u-block">
              <li class="Bubble-item">
                {{#link-to 'index' class="Bubble-action"}}
                  {{model.user.name}}
                {{/link-to}}
              </li>
              <li class="Bubble-item">
                {{#link-to 'index' class="Bubble-action"}}
                  {{model.user.email}}
                {{/link-to}}
              </li>
            </ul>
          </div>
        </div>
        {{else}}
        {{person-avatar
          class="blank-u-pdAbb"
          size="medium"
          imageURL=model.user.avatar
          name=model.user.name
        }}
      {{/basic-dropdown}}
    </header>
  {{/app-layout/header}}
  {{#app-layout/content}}
    {{outlet}}
  {{/app-layout/content}}
{{/app-layout}}
